
#uno  {
background-color: #FFFFFF;
}

#dos {
  background-color: #E6E6E6;
}

#tres {
  background-color:  #CCCCCC;
}

#cuatro {
  background-color: #B3B3B3;
}

#cinco {
  background-color: #999999;
}

#seis {
  background-color: #808080;
}

#siete {
  background-color: #666666;
}

#ocho {
  background-color: #4C4C4C

}

#nueve {
  background-color: #333333

}
#diez {
  background-color: #191919;

}
